# API
# APP_URL of Realstock_Api_App + the /api prefix of its routes,
# e.g. http://localhost:8000/api
EXPO_PUBLIC_API_URL=

# UI
# Same as APP_NAME in Realstock_Api_App, e.g. Realstock
EXPO_PUBLIC_APP_NAME=
